h1{
  font-size:60px;
  text-align:center;
  font-family: poppins;
  /* background-color: #060606; */
  
}
  *
  {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
  }
  body{
    overflow-x: hidden;
     background-color: #eae7e7ef; 
    /* background-image: 
    linear-gradient(
        to top right, #8B5CF6, #EC4899
    ); */
    /* background-image:url(img/black.png); */
    background-size:cover;
    background-position:center;
    font-family:Poppins;
    height: 500vh;
  }
  .menu-bar
  {
    background: rgb(0, 0, 10);
    text-align:left;
  }
  .menu-bar ul
  {
  display: inline-flex;
  list-style:none;
  color:#fff;  
  text-align: justify;
  }
  .menu-bar ul li
  {
    /* display: inline-block; */
    /* margin:10 20px; */
    width:280px;
    margin:2px;
    padding:13px
  }


  .menu-bar ul li a
  {
    text-decoration:none;
    color: #fff;
    /* font-size:18px; */
    
  }
  .active, .menu-bar ul li:hover
  {
  background: rgb(42, 138, 216) ;
  border-radius: 3px;
  }
  .menu-bar .fa
  {
    margin-right:8px;
  }
  .sub-menu-1
  {
    display:none;
    z-index: 2;
  }
  .menu-bar ul li:hover .sub-menu-1
  {
    display:block;
    position: absolute;
    background-color: rgb(50, 65, 70);
    margin-top: 15px;
    margin-left: -15px;
  
  }
  .menu-bar ul li:hover .sub-menu-1 ul
  {
  display: block;
  margin: 10px;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li
  {
    width: 150px;
    padding: 8px;
    border-bottom:1px dotted #ffff ;
    background: transparent;
    border-radius: 0;
    text-align: left;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li
  {
    border-bottom: none;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li a:hover
  {
    color: rgb(54, 140, 207);
  }
  
  .container1{
    width:100%;
    height:vh;
    background:transparent;
    display:flex;
    align-items:center;
    justify-content:left;
    margin-top: 7px;
   
  }


  form{
    /* background: #151515; */
    width:1500px;
    height:55px;
    display: flex;
    justify-content: center;
    
  }
  form input{
    /* flex: 1; */
   outline: none;
   width: 600px;
   padding-left: 10px; 
   border: 2px solid black;
   border-radius: 10px;
  }
  form .fa-search{
    align-self:center;
    padding: 10px 20px;
    color:#777;
    
  }
  
  form button{
    background: rgb(53, 59, 60);
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
  }
  
  .container2{
    width: 550px;
    position: absolute;
    transform: translate(-50% -50%);
    bottom: 10%;
    left: 10%;
    overflow: hidden;
    border: 10px solid #413d3d;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30,30,100,0.5);
}  
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 8s infinite;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
     }
     80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
    
 }

img{
    width: 100%;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.dot:hover {
  animation: slideHover 8s infinite;
  transform: scale(5.5);
  color: #000;
}

@keyframes slideHover {
  0%, 25% { transform: translateX(0); }
  30%, 50% { transform: translateX(-25%); }
  55%, 75% { transform: translateX(-50%); }
  80%, 100% { transform: translateX(-75%); }
}
  
  .text-overlay {
    font-family: poppins;
   /* position: none;
    margin-top: 2.5%; 
    margin-left: 29%; 
    transform: translate(-50%, -50%);
    color: #000;
    padding: 20px;
    text-align: center; */
  }
  
  .text-overlay h2 {
    position: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 3%;
    margin-left:17%;
    transform: translate(-50%, -50%);
    color: #000;
    padding: 20px;
    text-align: center;
    
  }

  .text-overlay p{
    font-size:40px;
    font-family: cursive;
    margin-left:50%;
    padding: 20px;
    
  }

  .text-overlay h3{
    color: #000;
    position: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 17%;
    border-radius: 0cqp;
  }

  .text-overlay1 h4{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    position: none;
    color: #000;
    margin-left: 10%;
    margin-top: 4.5%;
    /* width: 15%; */
    border-radius: 0cqb;
  }

  .text-overlay2 h5{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    position: none;
    color: #000;
    margin-left: 10%;
    margin-top: 4%;
  }

  .text-overlay3 h6{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: none;
    font-size: 30px;
    color: #000;
    margin-left: 10%;
    margin-top: 4%;
  }

  h9{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
        
  
  .container {
    display: flex;
  }

  .heading5:nth-child(1) {
    color: #fff; 
    font-family: poppins;
    font-size: 28px;
    margin-left:7% ;
    margin-top: 1%;
    background-color: #1d08fd;
    border-radius: 10px;
  } 

  .heading5:nth-child(2) {
    color: #fff; 
    font-family: poppins;
    font-size: 28px;
    margin-left:17% ;
    margin-top: 1%;
    background-color:#1d08fd;
    border-radius: 10px;
  }

  .heading5:nth-child(3) {
    color: #fff; 
    font-family: poppins;
    font-size: 28px;
    margin-left:18.5% ;
    margin-top: 1%;
    background-color: #1d08fd;
    border-radius: 10px;
  } 
  

  .line-container {
    position: relative;
  }
  
  .line-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10%;
    width: 85%;
    height: 1px; /* Adjust the thickness of the line */
    background-color: #000; /* Adjust the color of the line */
  }

  .line-container1 {
    position: relative;
  }
  
  .line-container1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10%;
    width: 85%;
    height: 0.5px; /* Adjust the thickness of the line */
    background-color: #000; /* Adjust the color of the line */
  }

  .line-container2 {
    position: relative;
  }
  
  .line-container2::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10%;
    width: 85%;
    height: 0.5px; /* Adjust the thickness of the line */
    background-color: #000; /* Adjust the color of the line */
  }

  .line-container3 {
    position: relative;
  }
  
  .line-container3::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10%;
    width: 85%;
    height: 0.5px; /* Adjust the thickness of the line */
    background-color: #000; /* Adjust the color of the line */
  }
  
  

  /* card  */ 
.card-link{
  text-decoration: none;

}
  .card:hover{
    transform: scale(1.15);
    transition: transform 0.3s ease; /* Add smooth transition */
  }
  .card {
    transition: all 0.3s;
    width: 9rem;
    border: none !important;
    background-color: transparent !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

 
  .card-text {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size:14px;
    font-weight: bold;
  }
  
  .card-body p{
    color: #000; 
     font-size: 1rem; 
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    margin-bottom: -2px;
  }


.card-link {
  color: inherit; /* Inherit text color from parent element */
  text-decoration: none; /* Remove underline */
}


/* Style for the card container */
.col-md-6 {
  margin-bottom: 20px; /* Add margin between cards */
}

/* Style for the card */
.card1.mb-3 {
  width:15rem; /* Set maximum width for the card */
  border-radius: 15px; /* Add border radius */
  overflow: hidden; /* Hide any overflow content */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

/* Style for the card image */
.card-img-top {
  width: 100%; /* Ensure image fills the container */
  height: auto; /* Maintain aspect ratio */
}

/* Style for the card body */
.card-body1 {
  padding: 20px; /* Add padding */
}

/* Style for the card title */
.card-title1{
  font-size: 1rem; 
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold; /* Make title bold */
  font-style:inherit;
  margin-bottom: 10px; /* Add margin below title */
}


/* Style for the card text */
.card-text1 {
  font-size: 1rem; /* Set font size */
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style:inherit;
  line-height: 1.5; /* Set line height */
  
}



/* Style for the last updated text */
.text-muted {
  font-size: 0.875rem; /* Decrease font size */
}
/* CSS for hover effect */
.card-hover:hover {
  transform: scale(1.15); /* Increase scale on hover */
  transition: transform 0.3s ease; /* Add smooth transition */
}



.slider{
  position: relative;
  margin-top:2%;
  margin-left: -260px;
  width: 100%;
  height: 370px;
  overflow: hidden;
  padding: 20px;
}

.item{
  position: absolute;
  color: inherit; 
  text-decoration: none; 
  width: 180px;
  height: 250px;
  text-align: justify;
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 110px);
  top:0;
  margin-bottom: 20px; Optional: Add some space between slides
}



#next, #prev{
  position: absolute;
  top: 30%;
  color: #440d0d;
  background-color: transparent;
  border: none;
  font-size:xx-large;
  font-family:poppins;
  font-weight: bold;
  left: 400px;
}
#next{
  left: unset;
  right: 400px;
}

.footer {
  background-color: #333; /* Footer background color */
  color: #fff; /* Text color */
  padding: 20px 0; /* Padding */
  margin-top: 20%;
  height: 40vh;

}

.footer h7 {
  /* color: #fff; /* Header text color  */
  font-family: poppins !important;
  font-weight: bold !important;
  font-size: large;
}

.social-icons img {
  width: 30px; /* Adjust size of social media icons */
  margin-right: 10px; /* Spacing between icons */
}

.footer p {
  margin-bottom: 10px; /* Spacing between paragraphs */
}
.social-icons  {
  margin-left: -5px; /* Adjust the value as needed */
  margin-top: 90px;
  
}


  
 
